.nav-bar{
    display: grid;
    grid-template-columns: 7% 15% 1% 42% 28% 7%;
    grid-template-rows: 100%;
    grid-gap: 0px;
}
.logo-header{
    grid-column: 2;
}
.nav-search{
    grid-column: 4;
}
.nav-customer{
    grid-column: 5;
    display: flex;
    justify-content: space-around;
}
/**/
.product-summary-view{
    display: grid;
    grid-template-columns: 30% 17% 50%;
    grid-template-rows: 100%;
}
.laptop > .product-summary-view
{
    display: grid;
    grid-template-columns: 40% 25% 22%;
    grid-template-rows: 100%;
}
.about-product{
    grid-column: 1;
}
.cost-list{
    grid-column: 2;
}
.best-selling{
    grid-column: 3;
}
.apple .product-summary-view,
.items .product-summary-view{
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 100%;
}
.apple .product-summary-view .about-product,
.items .product-summary-view .about-product{
    grid-column: 1;
}
.apple .product-summary-view .best-selling,
.items .product-summary-view .best-selling{
    grid-column: 2;
}

